<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace：当前XML文件用于配置哪个接口中抽象方法对应的SQL语句 -->
<mapper namespace="com.tedu.huangxian.mapper.UserMapper">

	<select id="selectAlluser" resultType="com.tedu.huangxian.util.UmsMember" >
		select *
		from t_user 

	</select>


</mapper>






